---
layout: default
---

<article class="post">
    <script type="module"> 
    import mermaid from "https://unpkg.com/mermaid@11.6.0/dist/mermaid.min.js">
       mermaid.initialize({
               theme: 'dark'
           });
    </script>
  <h1>{{ page.title }}</h1>
<a href="{{ site.url }}" class="read-more">Retour</a>
  <div class="entry">
    {{ content }}
  </div>

  <hr>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} by 
    <script src="https://www.hackthebox.eu/badge/26229"></script>
  </div>
  <hr>
  <br>
 <a href="{{ site.url }}" class="read-more">Retour</a>
</article>
