---
layout: default
---

<article class="post">
    <script type="text/javascript"
        src="https://unpkg.com/mermaid@8.0.0-rc.8/dist/mermaid.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
       $(document).ready(function() {
           mermaid.initialize({
               theme: 'forest'
           });
       });
    </script>
  <h1>{{ page.title }}</h1>
<a href="{{ site.url }}" class="read-more">Retour</a>
  <div class="entry">
    {{ content }}
  </div>

  <hr>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} by 
    <script src="https://www.hackthebox.eu/badge/26229"></script>
  </div>
  <hr>
  <br>
 <a href="{{ site.url }}" class="read-more">Retour</a>
</article>
